# Basic Build Options
MPI = YES         # YES or NO
DEBUG_LEVEL  = 0  # 0 (-Ofast), 1 (-O2, -g), 2 (-O0, -pg)
ENABLE_DEBUG = 0  # Turn on '-D_DEBUG' for enabling debugging helper stuff in code
MPI_DEBUG    = 0  # Turn on '-D_MPI_DEBUG' - requires attaching to GDB to run

# Location of libmetis.a, metis.h
METIS_LIB_DIR = /usr/local/lib/
METIS_INC_DIR = /usr/local/include/

# Location of mpi.h 
MPI_INC_DIR   = /usr/lib/openmpi/include

# Location of cblas.h, libcblas.a, libatlas.a
BLAS_TYPE = ATLAS  # ATLAS or not
BLAS_INC_DIR = /usr/include
BLAS_LIB_DIR = /usr/lib
#BLAS_INC_DIR = /usr/lib/atlas-base/include
#BLAS_LIB_DIR = /usr/lib/atlas-base/lib
