# Basic Build Options
MPI = YES         # YES or NO
OPENMP = NO       # YES or NO  (WARNING: Does not [currently] work with MPI)
DEBUG_LEVEL  = 0  # 0 (-Ofast), 1 (-O2, -g), 2 (-O0, -pg)
ENABLE_DEBUG = 0  # Turn on '-D_DEBUG' for enabling debugging helper stuff in code
MPI_DEBUG    = 0  # Turn on '-D_MPI_DEBUG' - requires attaching to GDB to run

CXX           = icpc
F90           = mpif90
LINK          = icpc
MPICXX        = mpicxx
MPILD         = mpicxx
LIBS          = $(SUBLIBS)

# Location of libmetis.a, metis.h
METIS_LIB_DIR = /home/crabillja/FlurryPP/bin/
METIS_INC_DIR = /home/crabillja/Documents/

# Location of mpi.h 
MPI_INC_DIR   = /usr/lib/openmpi/include

# Location of libmetis.a, metis.h
METIS_LIB_DIR = /home/crabillja/local/lib/
METIS_INC_DIR = /home/crabillja/local/include/

# Location of mpi.h 
MPI_INC_DIR   = /usr/lib/openmpi/include

# Location of cblas.h, libcblas.a, libatlas.a, or mkl_cblas.h and libmkl_intel_ilp64.a
BLAS_TYPE = MKL  # ATLAS, MKL, or STANDARD
BLAS_INC_DIR = /opt/intel/composer_xe_2013_sp1.0.080/mkl/include
BLAS_LIB_DIR = /opt/intel/composer_xe_2013_sp1.0.080/mkl/lib/intel64
# Needed for MKL BLAS
BLAS_COMPLIB_DIR = $(BLAS_INC_DIR)/../../compiler/lib/intel64
