# Select Compilers & Linkers
CXX           = g++
F90           = mpif90
LINK          = g++
MPICXX        = mpicxx
MPILD         = mpicxx

# Basic Build Options
MPI = YES         # YES or NO
OPENMP = NO       # YES or NO  (WARNING: Does not work with MPI without modification of environment variable OMP_NUM_THREADS)
DEBUG_LEVEL  = 0  # 0 (-Ofast), 1 (-O2, -g), 2 (-O0, -pg)
ENABLE_DEBUG = 0  # Turn on '-D_DEBUG' for enabling debugging helper stuff in code
MPI_DEBUG    = 0  # Turn on '-D_MPI_DEBUG' - requires attaching to GDB to run

# Location of libmetis.a, metis.h
METIS_LIB_DIR = /usr/local/lib/
METIS_INC_DIR = /usr/local/include/

# Location of mpi.h 
MPI_INC_DIR   = /usr/lib/openmpi/include

# Location of cblas.h, libcblas.a, libatlas.a, or mkl_cblas.h and libmkl_intel_ilp64.a
BLAS_TYPE = ATLAS  # ATLAS, MKL, OPEN or STANDARD
BLAS_INC_DIR = /usr/include
BLAS_LIB_DIR = /usr/lib
#BLAS_INC_DIR = /usr/lib/atlas-base/include
#BLAS_LIB_DIR = /usr/lib/atlas-base/lib
